*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color:  white;
}

.column1{
    width: 100%;
    min-height: 20rem;
    /* background-color: red; */
    padding: 5%;
}

.logo_img{
    width: 10%;
}

.p_features{
    font-family:'Raleway', sans-serif;
    font-size: small;
    color: black;
}

.features_row_display{
    display: flex;
    gap: 1.5rem;
}

.top_heading_row_display{
    display: flex;
    gap: 50rem;
   
}

.heading_textbox{
    width: 23rem;
    height: 12rem;
    /* background-color: brown; */
    font-family:'Raleway', sans-serif;
    margin-top: 8%;

}

.p_flyo_heading_textbox{
    font-size: small;
    padding-top: 1em;
    line-height: 1.5;
}

.input_getstarted{
    background-color: hsl(224, 93%, 58%);
    border: none;
    min-width: 8rem;
    height: 1.5rem;
    cursor: pointer;
    color: white;
}

.input_getstarted:hover{
    background-color:hsl(225, 83%, 65%);

}

input{
    height: 1.5rem;
}

.input_display{
    display: flex;
    gap: 0.7rem;
    margin-top: 5%;
}

.img_illustration{
    width: 45%;
}

.headingbox_display{
    display: flex;
    gap: 8rem;
}

.column2{
    width: 100%;
    min-height: 20rem;
    background-color: hsl(240, 75%, 98%);
    margin-top: 10%;

}

.column2_background_image{
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
}

.column2_textbox{
    width: 25rem;
    min-height: 12rem;
    /* background-color: brown; */
    margin-top: 5%;

}

.p_column2_textbox{
    font-size: small;
    padding-top: 1em;
    line-height: 1.5;
}

.p2_column2_textbox{
    margin-top: 5px;
}

.a_flyo{
    font-size: 15px;
    color: hsl(170, 45%, 43%);
  line-height: 3;
}

.a_flyo:hover{
     color: hsl(170, 75%, 61%);
}
.img_arrow{
    margin-top: 7%;
}

.section{
    width: 19rem;
    min-height: 10rem;
    background-color: white;
    /* margin: auto; */
    margin-top: 1%;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 3px  hsl(228, 13%, 92%);
    padding: 22px;
}

.p_flyo{
    font-size: 14px;
    line-height: 1.5;
}

.img_avatar{
    width: 10%;
    border-radius: 50%;
}

.p_kyle_founder{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
   
}

.p_founder{
    font-size: 10px;
    
}

.p_kyle{
    font-weight: bold;
    font-size: 15px;
}

.founder_row_display{
    display: flex;
    gap: 1rem;
    margin-top: 3%;
}

.column2_row_display{
    display: flex;
    gap: 8rem;
}

.column3{
    width: 100%;
    min-height: 7rem;
    background-color: hsl(238, 22%, 44%);
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
    
}

.column3_textbox{
    color: white;
    width: 25rem;
    min-height: 8rem;
    /* background-color: brown; */
    /* margin-top: 2%; */
}

.p_column3_textbox{
    font-size: small;
    line-height: 1.5;
    padding-top: 13px;
    color: rgb(241, 238, 238);
}

.input_display_footer{
    line-height: 3rem;
}

.input_getstarted_forfree{
    background-color: hsl(224, 93%, 58%);
    border: none;
    min-width: 9rem;
    height: 1.5rem;
    cursor: pointer;
    color: white;
}

.input_getstarted_forfree:hover{
    background-color:hsl(225, 83%, 65%);

}

.input2{
    min-width: 20rem;
    height: 1.5rem;
}



.column3_display_row{
    display: flex;
    gap: 15rem;
}

.column4{
    width: 100%;
    min-height: 7rem;
    background-color: hsl(243, 87%, 12%);
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
    
}

.img_logo_footer{
width: 8%;
filter:  brightness(0) invert(1);
}

.p_contact_details{
    color: white;
    font-size: small;
}

.contact_details_logo_display{
    display: flex;
    gap: 1rem;
    padding-top: 15px;
}

.contact_details{
    padding-top: 1%;
}

.a_info_style{
    text-decoration: none;
    font-size: small;
    color: white;
}

.a_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2%;
}

a:hover{
    color:hsl(244, 57%, 69%);
}

.fa {
    text-decoration: none;
    color: white;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid white;
  }

  .icon_row{
    display: flex;
    gap: 1rem;
    margin-top: 1%;
    
  }

  .footer_content_row_display{
    display: flex;
    gap: 15rem;
  }
